## DataTypes
#### 1. Definition:

- Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
- They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

#### 2. Importance of Data Types in Programming
Explanation:

- Data types ensure that data is stored in an efficient way.
- They help in performing correct operations on data.
- Proper use of data types can prevent errors and bugs in the program.

### Outline
1. Introduction to Data Types
2. Importance of Data Types in Programming
3. Basic Data Types
   - Integers
   - Floating-point numbers
   - Strings
   - Booleans
4. Advanced Data Types
   - Lists
   - Tuples
   - Sets
   - Dictionaries
5. Type Conversion
6. Practical Examples

In [1]:
## Integer Example
age=35
print(type(age))

<class 'int'>

In [2]:
##floating point datatype
height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [4]:
## string datatype example
name="rhs2" #for str we need to use double "" qoute or '' single qoute
print(name)
print(type(name))

rhs2
<class 'str'>

In [5]:
## boolean datatype
is_true=True
print(type(is_true))

<class 'bool'>

In [6]:
a=10
b=10

type(a==b)

bool

In [7]:
## common errors on concetenation of str and int

result="Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
result = "hello" + str(5)
print(result)
#that's how we can convert the int to str and concetenate them

hello5