In [28]:
people = {
    "first": ["rhs", 'Jane', 'John'], 
    "last": ["2", 'Doe', 'Doe'], 
    "email": ["rhs0@hotmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [29]:
import pandas as pd
df = pd.DataFrame(people)

In [30]:
df

  first last              email
0   rhs    2   rhs0@hotmail.com
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [31]:
#getting the elements which has Doe as last name
filter1 = (df['last']== 'Doe')
df[filter1]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [32]:
df[df['last']== 'Doe']

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [33]:
#using and & and or | operation
filter2 = (df['last']=='Doe') | (df['first']=='rhs')

In [34]:
df[filter2]

  first last              email
0   rhs    2   rhs0@hotmail.com
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [61]:
#using and & and or | operation
filter2 = (df['last']=='Doe') & (df['first']=='John')

In [62]:
df[filter2]

  first last              email
2  John  Doe  JohnDoe@email.com

In [63]:
df.loc[filter2,'email']

2    JohnDoe@email.com
Name: email, dtype: object

In [59]:
df.loc[-filter2,'email']

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('data/survey_results_schema.csv', index_col='Column')

In [ ]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [ ]:
df.head()

In [ ]:
filter3 = df['LanguageWorkedWith'].str.contains('Python', na=False)

In [ ]:
filter3

In [ ]:
filter3

In [ ]:
df.loc[filter3]

In [ ]:
df.loc[filter3, 'email']