# Module 4: Data Structures Assignments
## Lesson 4: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
tuple1 = tuple(range(1,20))
print(tuple1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [4]:
print(f"first element: {tuple1[0]}")
print(f"middle element: {tuple1[len(tuple1)//2]}")
print(f"last element: {tuple1[-1]}")

first element: 1
middle element: 10
last element: 19

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [9]:
print(f"first three elements: {tuple1[0:3]}")
print(f"last three elements {tuple1[-1:-4:-1]}")
print(f"last three elements {tuple1[-3:]}")
print(f"elements from index 2 to 5: {tuple1[2:6]}")

first three elements: (1, 2, 3)
last three elements (19, 18, 17)
last three elements (17, 18, 19)
elements from index 2 to 5: (3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [12]:
matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)

)
print("Matrix")
for row in matrix:
    print(row)
print(f"element at second row third column: {matrix[1][2]}")

Matrix
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
element at second row third column: 6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [14]:
tuple2 = (1,2,3)
tuple3 = (4,5,6)
concat = tuple2 + tuple3
print(concat)
# print(tuple2+tuple3)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [18]:
tuple4 = (1,2,2,3,4,4,4,5)
print(f"Occurrence of 4: {tuple4.count(4)}")
print(f"index of first occurrence of 2: {tuple4.index(2)}")

Occurrence of 4: 3
index of first occurrence of 2: 1

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [19]:
tuple5 = (2,3,4,5,6)
a,b,c,d,e = tuple5
print(a,b,c,d,e)

2 3 4 5 6

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [20]:
list2 =[1,2,3,4,5]
tuple6= tuple(list2)
print(tuple6)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [25]:
tuple7 = (
    (1,2,3),
    (4,5,6), 
    (7,8,9)
)
print(tuple7)
print(f"tuple in a matrix form:")
for r in tuple7:
    print(r)

((1, 2, 3), (4, 5, 6), (7, 8, 9))
tuple in a matrix form:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [28]:
tuple8 = (1,2,3,4,5)
list1 = list(tuple8)
list1.append(6)
tuple8 = tuple(list1)
print(tuple8)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [33]:
string = 'rhs2'
tuple9 = tuple(string)
joined_strings = "".join(tuple9)
print(joined_strings)

rhs2

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [34]:
tuple_dict = {
    (1,2): 3,
    (4,5): 6,
    (7,8): 9
}
print(tuple_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [37]:
nested_tuple = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
for r in nested_tuple:
    for e in r:
        print( e)

1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [38]:
tuple10 = (1,2,3,3,3,5,5,4,4,6,7,7)
set1 = set(tuple10)
print(set1)

{1, 2, 3, 4, 5, 6, 7}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [40]:
def min_tuple(tup):
    return min(tup)
def max_tuple(tup):
    return max(tup)
def sum_tuple(tup):
    return sum(tup)
tuple11 = (1,2,3,4,5)
print(f"minimum: {min_tuple(tuple11)}")
print(f"maximum: {max_tuple(tuple11)}")
print(f"sum of a tuple: {sum_tuple(tuple11)}")

minimum: 1
maximum: 5
sum of a tuple: 15